{% extends 'main/foundation.html' %}

{% block title %}
Заказ доставки
{% endblock %}

{% block content %}

<div class="py-5 text-center">
    <h2>Заказ доставки сборного груза</h2>
    <p class="lead">
        На этой странице вы можете сформировать заказ на доставку сборного груза с
        учетом оптимизации LTL-рейсов
    </p>
</div>

<form class="needs-validation" novalidate method="post">
    {% csrf_token %}

    <div class="row g-1">
        <label class="form-label">Код заказа</label>
        <div class="col-sm-3">
            {{ form.order_id }}
        </div>

        <label class="form-label">Адресс доставки</label>
        <div class="col-sm-3">
            {{ form.address }}
        </div>

        <label class="form-label">Груз</label>
        <div class="col-sm-3">
            {{ form.cargo }}
        </div>

        <label class="form-label">Вес, кг</label>
        <div class="col-sm-3">
            {{ form.weight }}
        </div>
    </div>

    <div class="col-sm-6">
        <button type="submit" class="btn btn-lg btn-primary mt-3">Сформировать</button>
    </div>
    <span>{{ error }}</span>

</form>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="form-validation.js"></script>

{% endblock %}
