{% extends 'main/foundation.html' %}

{% block title %}
Заказ доставки
{% endblock %}

{% block content %}

<div class="py-5 text-center">
    <h2>Заказ доставки сборного груза</h2>
    <p class="lead">
        На этой странице вы можете сформировать заказ на доставку сборного груза с
        учетом оптимизации LTL-рейсов.
    </p>
</div>

<form class="needs-validation" novalidate method="post">
    <div class="row g-1">
        <div class="col-sm-6">
            <label class="form-label">Адресс доставки</label>
            <input type="text" class="form-control" placeholder="Воронеж Патриотов 20" value="" required>
        </div>

        <div class="col-sm-3">
            <label class="form-label">Груз</label>
            <input type="text" class="form-control" placeholder="Пищевые ингредиенты" value="" required>
        </div>

        <div class="col-sm-3">
            <label class="form-label">Вес, кг</label>
            <input type="text" class="form-control" placeholder="900" value="" required>
        </div>
    </div>
    <div class="col-sm-6">
        <button type="submit" class="btn btn-lg btn-primary mt-3">Сформировать</button>
    </div>

</form>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script src="form-validation.js"></script>

{% endblock %}
