<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
        crossorigin="anonymous">
</head>

<body class="bg-light">
<div class="container">
  {% block content %}{% endblock %}
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 Проект "Open TMS"</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'info' %}">Документация</a></li>
      <li class="list-inline-item"><a href="{% url 'order' %}">Заказ</a></li>
      <li class="list-inline-item"><a href="{% url 'result' %}">Результат</a></li>
      <li class="list-inline-item"><a href="https://github.com/DmitriyKhodykin/OpenTMS">Исходный код</a></li>
    </ul>
  </footer>
</div>
</body>
</html>
